


 ul li {
  list-style: none;
}

.movie-cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 5px;
}

.movie-card {
  border: 1px solid #ccc;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 451px;
  display: flex;
  flex-direction: row;
  transition: transform 0.3s;
  height: 279px;
  padding: 5px;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  height: 281px;
  width: 183px;
  object-fit: cover;
  flex-shrink: 0;
}

.placeholderStyleMobile {
  height: 281px;
  width: 183px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-card-whole-info {
  margin: 5px 10px 2px 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  gap: 5px;
}

.movie-title {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  position: relative;
	top: -10px;
	left: 20px;
	width: 140px;
	height: 40px;
  max-height: 80px;
}

.movie-releaseDate {
  font-size: 14px;
  color: #888;
  margin: 0;
  position: relative;
	top: -100px;
	left: 20px;
  max-height: 14px;
}
.rate-gen-over-stars {
  
}
.movie-genre {
  display: inline-flex;
  flex-wrap: wrap;
	background-color: #e0e0e0; 
	color: #666; 
	padding: 1px 1px;
	border-radius: 3px;
	border: 1px solid darkgray;
	margin-bottom:5px;
	margin-right: 5px;
	font-size: 14px;
	position: relative;
	top: -36px;
	left: 20px;
  max-height: 30px;
  overflow: hidden;
}

.movie-overview {
  font-size: 12px;
  color: #444;
  line-height: 1.5;
  margin-top: 8px;
  position: relative;
  top: -60px;
  left: 20px;
  width: 200px;
  max-height: 80px;
  margin: 0;
  
}

.movie-rating {
  position: relative;
  top: -55px;
  right: -200px;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  border: 3px solid #f0c036;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.movie-stars {
  position: relative;
  top: -30px; 
  left: 20px;
  block-size: fit-content;
  height: 20px;
  
  
 
} 

@media screen and (max-width: 570px) {
  .movie-cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 5px;
  }
  .movie-card {
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 280px;
    display: flex;
    flex-direction: row;
    transition: transform 0.3s;
    height: 141px;
    padding: 2px;
  }
  
  .movie-poster {
    height: 141px;
    width: 90px;
    object-fit: cover;
    flex-shrink: 0;
  }
  
  .movie-card-whole-info {
    margin: 5px 10px 2px 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 2px;
  }
  
  .movie-title {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    position: relative;
    top: -10px;
    left: 20px;
    width: 140px;
    height: 40px;
    max-height: 80px;
  }
  
  .movie-releaseDate {
    font-size: 8px;
    color: #888;
    margin: 0;
    position: relative;
    top: -80px;
    left: 20px;
    max-height: 14px;
  }

  .movie-genre {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #e0e0e0; 
    color: #666; 
    padding: 1px 1px;
    border-radius: 3px;
    border: 1px solid darkgray;
    margin-bottom:5px;
    margin-right: 5px;
    font-size: 9px;
    position: relative;
    top: -40px;
    left: 20px;
    max-height: 30px;
    overflow: hidden;
  }
  
  .movie-overview {
    font-size: 8px;
    color: #444;
    line-height: 1.5;
    margin-top: 8px;
    position: relative;
    top: -55px;
    left: 20px;
    width: 150px;
    max-height: 80px;
    margin: 0;
    
  }
  
  .movie-rating {
    position: relative;
    top: -40px;
    right: -140px;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    border: 2px solid #f0c036;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  
  .movie-stars {
    position: relative;
    top: -50px; 
    left: 20px;
    block-size: fit-content;
    height: 10px;
    
    
   
  } 
  .placeholderStyleMobile {
    height: 141px;
    width: 90px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}