body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  display: flex;
  flex-wrap: wrap;
  max-width: 1010px;
  height: auto;
  border: 0 solid #000000;
  background-color: #FFFFFF;
  margin: auto;
}

.search-component {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.alert-message {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  width: 400px;
  padding: q0px 25px;
  font-size: 12px;
  
  color: #2a2a2a;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ff4d4f; 
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.alert-message:hover {
  background-color: rgba(255, 77, 79, 0.1);
  border-color: #d9363e; 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.filter-component {
  display: flex;
  justify-content: center;
  margin: auto;
  
}

@media screen and (max-width: 570px) {
  .app {
  display: flex;
  flex-wrap: wrap;
  max-width: 540px;
}
.alert-message {
max-width: 60%;
width: 200px;
}
.filter-component {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100px;
  
}
}